.scroll-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1000;
}

.scroll-to-top-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  font-size: 2.4rem;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s;
}

.scroll-to-top-button:hover {
  background-color: #0056b3;
}
